.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 425px;
    min-height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.mainText {
    color: #fff;
    font-size: 3.5vh;
}